.listHeader {
  position: relative;
}

.sort-button {

  width: max-content;
  margin-inline: auto;
  margin-top: 1.2rem;

  span {
    padding: 8px 6px;
    cursor: pointer;
    background-color: #1a1a1a;
    display: inline-block;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &.active {
      background-color: rgba(26, 30, 80, 0.5);

      svg {
        stroke: var(--text-color);
      }
    }
  }

  @media (min-width: 660px) {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
  }
}

.star {
  fill: var(--text-color);
}

.down-arrow {
  transform: rotate(180deg);
}
